<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.1" />
    <title>Admin page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- <link rel="stylesheet" href="Admin-asset/admin_product.css" /> -->
    <link rel="stylesheet" href="/css/admin_home.css" />
</head>

<body>
    <div class="container">
        <!-- Navigation -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="/image/user.png">
                        <span class="icon"><i class="fas fa-users-cog" aria-hidden="true"></i
                            ></span>
                        <span class="title"><h2>ADMIN</h2></span>
                    </a>
                </li>

                <br /><br />

                <li>
                    <a class="isActive" href="/admin">
                        <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
                        <span class="title">Chỉnh sửa cột</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admin_circulation">
                        <span class="icon"><i class="fas fa-archway"></i></span>
                        <span class="title">Chỉnh sửa tt hình tròn</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <!-- Toggle starts -->
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                            <input type="text" placeholder="Search here" />
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </label>
                </div>
                <!-- <div class="user">
                     <img src="../public/image/user.jpgs" /> 
                </div> -->
                <button class="btn-logout"><a href="/logout">Logout</a></button>
            </div>
            <!-- Toggle ends -->

            <!-- Form columns -->
            <div class="details">
                <div class="productInfo">
                    <form action="/data/createpolygon" method="post" name="createPolygon">
                        <div class="Info-details">
                            <div class="cardHeader">
                                <h2 class="title">Chỉnh sửa nhà</h2>
                            </div>
                            <div class="select-parent">
                                <div class="select">
                                    <select name="body" id="format">
                                        <option selected disabled>Chọn bảng tính</option>
                                        <% bodies.forEach(body => { %>
                                            <option value="<%=body.id%>"><%=body.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="select">
                                    <select name="floor" id="format">
                                        <option selected disabled>Chọn bảng tính</option>
                                        <% floors.forEach(floor => { %>
                                            <option value="<%=floor.id%>"><%=floor.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="select">
                                    <select name="wall" id="format">
                                        <option selected disabled>Chọn bảng tính</option>
                                        <% walls.forEach(wall => { %>
                                            <option value="<%=wall.id%>"><%=wall.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="select">
                                    <select name="column" id="format">
                                        <option selected disabled>Chọn bảng tính</option>
                                        <% columns.forEach(column => { %>
                                            <option value="<%=column.id%>"><%=column.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="select-cntainer">
                                    <div class="select">
                                        <select name="type" id="format">
    
                                            <option selected disabled>Chọn bảng tính</option>
                                            <option value="Floor">Nền</option>
                                            <option value="Steps">Bậc thềm</option>
                                            <option value="Column">Cột</option>
                                            <option value="Door">Cửa</option>
                                            <option value="Fence">Hàng rào</option>
                                            <option value="Roof_Brick">Lót mái</option>
                                            <option value="Floor_Brick">Lót nền</option>
                                            <option value="Roof">Mái</option>
                                            <option value="Wall">Tường</option>
                                            <option value="Floor_Decoration">Trang trí nền</option>
                                            <option value="Column_Decoration">Trang trí cột</option>
                                            <option value="Roof_Decoration">Trang trí mái</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="length-info">
                                <div class="input-box">
                                    <span class="info">Tên</span>
                                    <input type="text" placeholder="Nhập tên" name="Name" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Chiều dài</span>
                                    <input type="text" placeholder="Nhập chiều dài" name="Length" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Chiều rộng</span>
                                    <input type="text" placeholder="Nhập chiều rộng" name="Width" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Chiều cao</span>
                                    <input type="text" placeholder="Nhập chiều cao" name="Height" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Longitude,Latitude</span>
                                    <input type="text" placeholder="Nhập longitude, latitude" name="lnglat" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Độ</span>
                                    <input type="text" placeholder="Nhập độ" name="Direction" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Độ cao</span>
                                    <input type="text" placeholder="Nhập độ cao" name="Altitude" required />
                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" value="Lưu" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="productResult">
                    <h2 class="title">Kết quả</h2>
                </div>
                <div></div>
            </div>
            <!-- Form columns -->
        </div>
    </div>
    <script>
        function toggleMenu() {
            let toggle = document.querySelector(".toggle");
            let navigation = document.querySelector(".navigation");
            let main = document.querySelector(".main");
            toggle.classList.toggle("active");
            navigation.classList.toggle("active");
            main.classList.toggle("active");
        }
    </script>
</body>

</html>