<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.1" />
    <title>Bến Nhà Rồng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <!-- <link rel="stylesheet" href="Admin-asset/admin_product.css" /> -->
    <link rel="stylesheet" href="/css/admin_home.css" />
    <link rel = "icon" href = "/image/logo.png" type = "image/x-icon">
</head>

<body>
    <div class="container">
        <!-- Navigation -->
        <div class="navigation">
            <ul>
                <li>
                    <a href="/admin">
                        <span class="icon"><i class="fas fa-users-cog" aria-hidden="true"></i
                            ></span>
                        <span class="title"><h2>ADMIN</h2></span>
                    </a>
                </li>

                <br /><br />

                <li>
                    <a class="isActive" href="/admin">
                        <span class="icon"><i class="fas fa-home" aria-hidden="true"></i></span>
                        <span class="title">Thêm cột</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admin_circulation">
                        <span class="icon"><i class="fas fa-archway"></i></span>
                        <span class="title">Thêm tt hình tròn</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/Admin_fence">
                        <span class="icon"><i class="fas fa-dungeon"></i></span>
                        <span class="title">Thêm hàng rào</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/admin_update">
                        <span class="icon"><i class="fas fa-folder-minus"></i></span>
                        <span class="title">Xóa, sửa BNR</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <!-- Toggle starts -->
            <div class="topbar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <div class="search">
                    <label>
                            <input type="text" placeholder="Search here" />
                            <i class="fas fa-search" aria-hidden="true"></i>
                        </label>
                </div>
                <!-- <div class="user">
                     <img src="../public/image/user.jpgs" /> 
                </div> -->
                <div class="btns">
                    <button class="btn-logout"><a href="/logout">Đăng xuất</a></button>
                    <button class="btn-back"><i class="fas fa-sign-out-alt icon-log"></i><a href="/user">Về trang chủ</a></button>
                </div>
            </div>
            <!-- Toggle ends -->

            <!-- Form columns -->
            <div class="details">
                <div class="productInfo">
                    <form action="/data/createpolygon" method="post" name="createPolygon">
                        <div class="Info-details">
                            <div class="cardHeader">
                                <h2 class="title">Thêm các thuộc tính của nhà</h2>
                            </div>
                            <div class="select-parent">
                                <!-- Chọn địa điểm -->
                                <div class="select parent">
                                    <select name="body" id="format">
                                        <option selected disabled>Chọn địa điểm</option>
                                        <% bodies.forEach(body => { %>
                                            <option value="<%=body.id%>"><%=body.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <!-- Chọn bảng tính -->
                                <div class="select child1 ">
                                    <select name="type" id="format1">
    
                                            <option selected disabled>Chọn bảng tính</option>
                                            <option value="Floor">Nền</option>
                                            <option value="Steps">Bậc thềm</option>
                                            <option value="Column">Cột</option>
                                            <option value="Door">Cửa</option>
                                            <option value="Roof_Brick">Lót mái</option>
                                            <option value="Floor_Brick">Lót nền</option>
                                            <option value="Roof">Mái</option>
                                            <option value="Wall">Tường</option>
                                            <option value="Floor_Decoration">Trang trí nền</option>
                                            <option value="Column_Decoration">Trang trí cột</option>
                                            <option value="Roof_Decoration">Trang trí mái</option>
                                        </select>
                                </div>
                                <!-- Chọn nền -->
                                <div class="select child detail_floor">
                                    <select name="floor" id="format">
                                        <option selected disabled>Chọn nền</option>
                                        <% floors.forEach(floor => { %>
                                            <option value="<%=floor.id%>"><%=floor.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <!-- Chọn tường -->
                                <div class="select child detail_wall">
                                    <select name="wall" id="format">
                                        <option selected disabled>Chọn tường</option>
                                        <% walls.forEach(wall => { %>
                                            <option value="<%=wall.id%>"><%=wall.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <!-- Chọn cột -->
                                <div class="select child detail_column">
                                    <select name="column" id="format">
                                        <option selected disabled>Chọn cột</option>
                                        <% columns.forEach(column => { %>
                                            <option value="<%=column.id%>"><%=column.Name%></option>
                                        <% }) %>
                                    </select>
                                </div>

                            </div>


                            <div class="length-info">
                                <div class="input-box">
                                    <span class="info">Tên</span>
                                    <input type="text" placeholder="Nhập tên" name="Name" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Chiều dài</span>
                                    <input type="text" placeholder="Nhập chiều dài" name="Length" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Chiều rộng</span>
                                    <input type="text" placeholder="Nhập chiều rộng" name="Width" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Chiều cao</span>
                                    <input type="text" placeholder="Nhập chiều cao" name="Height" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Longitude,Latitude</span>
                                    <input type="text" placeholder="Nhập longitude, latitude" name="lnglat" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Độ</span>
                                    <input type="text" placeholder="Nhập độ" name="Direction" required />
                                </div>
                                <div class="input-box">
                                    <span class="info">Độ cao</span>
                                    <input type="text" placeholder="Nhập độ cao" name="Altitude" required />
                                </div>
                            </div>
                            <div class="button">
                                <input type="submit" value="Lưu" />
                            </div>
                        </div>
                    </form>
                </div>

                <div class="productResult">
                    <h2 class="title">Kết quả</h2>
                    <iframe src="/user" title="Bến Nhà Rồng" class="result"></iframe>
                </div>
            </div>
            <!-- Form columns -->
        </div>
    </div>
    <script>
        function toggleMenu() {
            let toggle = document.querySelector(".toggle");
            let navigation = document.querySelector(".navigation");
            let main = document.querySelector(".main");
            toggle.classList.toggle("active");
            navigation.classList.toggle("active");
            main.classList.toggle("active");
        }
    </script>
    <script>
        let select_child = document.querySelector(".child1");
        let place = document.querySelector("#format");
        let selectChild = document.querySelectorAll(".select.child1");
        place.addEventListener("change", (e) => {
            // e.target.value;
            selectChild.forEach(item => {
                item.style.display = "flex";
            })
        })
        let place1 = document.querySelector("#format1");
        let details_floor = document.querySelector(".select.child.detail_floor");
        let details_wall = document.querySelector(".select.child.detail_wall");
        let details_column = document.querySelector(".select.child.detail_column");
        place1.addEventListener("change", (e1) => {
            details_floor.style.display = "none";
            details_wall.style.display = "none";
            details_column.style.display = "none";
            if (e1.target.value === "Floor") {

            } else if (e1.target.value === "Steps") {
                details_floor.style.display = "flex";
            } else if (e1.target.value === "Column") {
                details_floor.style.display = "flex";
            } else if (e1.target.value === "Door") {
                details_wall.style.display = "flex";
            } else if (e1.target.value === "Roof") {
                details_wall.style.display = "flex";
            } else if (e1.target.value === "Wall") {
                details_floor.style.display = "flex";

            } else if (e1.target.value === "Floor_Brick") {
                details_floor.style.display = "flex";
            } else if (e1.target.value === "Roof_Brick") {
                details_floor.style.display = "flex";
            } else if (e1.target.value === "Floor_Decoration") {
                details_floor.style.display = "flex";
            } else if (e1.target.value === "Column_Decoration") {
                details_column.style.display = "flex";
            }
        })
    </script>
</body>

</html>